div {
    background-color: white;
    width:fit-content;
    border: 1px solid black;
    border-radius: 5px;
}

body {
    background-color: #f2f2f2;
}


.box {
    display: flex;
}

.box a {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.box b {
    margin:auto;
    padding: 10px;
    background-color:rgb(32, 126, 194);
    border-radius: 5px;
    text-decoration: none;
}

.modal {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    background: rgba(142, 142, 142, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal a.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fe0606;
    font-size: 30px;
    text-decoration: none;
}

.content {
    position: relative;
    background: white;
    padding: 1em;
    border-radius: 4px;
}

.modal:target {
    display: flex;
}

.nutrition-menu {
    position:absolute;
    top: 15px;
    right: 0;
    font-size: 18px;
    text-align:center; 
    background-color:rgb(32, 126, 194);
    width: auto; /* Adjust the width as needed */

}

.NutritionFacts table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 200px; 
}
  
/* Center the text horizontally */
.nutrition-menu td.centered-text {
    text-align: center; /* Center the text horizontally */
}

#menuButton {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 5px;
    font-size: 22px;
    top: 0;
    right: 0;
    background-color: rgb(207, 229, 244);
  }

#shopListButton { /*for the shopping list menu*/
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 5px;
    font-size: 22px;
    top: 600;
    right: 0;
    background-color: rgb(207, 229, 244);
  }

  .shopList-menu {
    position:absolute;
    top: 615px;
    right: 0;
    font-size: 18px;
    text-align:center; 
    background-color:rgb(32, 126, 194);
    width: auto; /* Adjust the width as needed */

}

  .recipe-name {
    background-color: white;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.content .recipe-list {
    padding: 10px; /* Add padding to the recipe list */
  }

  #historyContainer {
    margin-top: 20px; /* Add margin to the top of the Last Recipe div */
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fe0606;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}